body{
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 800px;
    height: 500px;
    background-color: azure;
    position: relative;
}
.content{
    padding: 50px;
}
.question{
    font-size: 40px;
}
.game{
    
}
.answer{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.submit{
    background-color: rebeccapurple;
    color: cornsilk;
    width: 100%;
    height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
.result{
    display: none;
    padding: 50px;
    text-align: center;
}
.result h1{
    font-size: 50px;
}
.correct{
    color: green;
    font-size: 20px;
}
.wrong{
    color: red;
    font-size: 20px;
}
.play{
    color: cornsilk;
    background-color: rebeccapurple;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}